.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transform: rotateY(180deg);
}
.container-login {
  transform: rotateY(180deg);
}
input[type="text"],
input[type="password"] {
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: lightblue;
}
.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.plan-sing-up {
  text-align: center;
  margin-top: 2.5rem;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 2.4rem;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #f783ac;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #fcc2d7;
}
